body {
    background-color: lightcoral;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rebeccapurple;
}

p {
    text-align: justify;
    width: fit-content;
}

.center {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.foto{
    background-color: #000;
}

.foto img {
    width: 23%;
}

.cod {
    margin: auto;
    width: 80%;
}

.cod p {
    background-color: aqua;
    border: 5px dotted red;
    text-align: center;
    font-weight: bold;
    color: blue;
}